{% extends 'base.html.twig' %}

{% block title %}File not found{% endblock %}

{% block body %}
    <main id="error">
        <section class="section">
            <div class="box has-text-centered">
                <h1>
                    Sorry, we couldn't find that file.
                </h1>
                <a href="/">
                    Home
                </a>
            </div>
        </section>
    </main>
{% endblock %}
