{% extends 'base.html.twig' %}

{% block title %}Share your secure link{% endblock %}

{% block body %}
    <main id="share">
        <section class="section">
            <div class="box">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input id="file-link" class="input" type="text" value="{{ link_url }}" readonly="readonly">
                    </div>
                    <div class="control">
                        <a id="copy-link" class="button is-info">
                            Copy Link
                        </a>
                    </div>
                </div>
                {% if has_linkstrip_url %}
                    <div class="linkstrip">
                        Link created with <a href="https://linkst.rip/" target="_blank">linkst.rip</a>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        const copy_link = document.getElementById("copy-link");

        copy_link.onclick = () => {
            const link_url = document.getElementById("file-link");
            link_url.select();
            link_url.setSelectionRange(0, 99999);
            document.execCommand("copy");
            link_url.classList.add("is-success");
        }
    </script>
{% endblock %}
