{% extends 'base.html.twig' %}

{% block title %}Secure File Transfer{% endblock %}

{% block body %}
    <main id="index" class="has-text-light">
        <section class="section top">
            <div class="title-and-description">
                <h1 class="is-size-2 has-text-centered child">
                    Secure File Sharing
                </h1>
                <div class="is-size-6 has-text-centered child">
                    <ul>
                        <li>
                            Only downloadable the number of times you want
                        </li>
                        <li>
                            Deleted after 12 hours, or when the max downloads are reached
                        </li>
                        <li>
                            Even if no secret is supplied, there is a server-side secret used by default
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="box">
                {{ form(form) }}
                <div id="form_status">

                </div>
            </div>
        </section>
    </main>
{% endblock %}


{% block javascripts %}
    <script>
        const form = document.querySelector("form[name='shared_file']");
        const submit = document.getElementById("shared_file_submit");
        const form_status = document.getElementById("form_status");

        const uploading = "Uploading";
        form.onsubmit = () => {
            submit.disabled = true;
            let i = 0;
            setInterval(() => {
                const numPeriods = i % 3 + 1;
                form_status.innerText = `${uploading}${".".repeat(numPeriods)}`;
                i++;
            }, 500);
        };

    </script>
{% endblock %}
