{% extends 'base.html.twig' %}

{% block title %}Something went wrong{% endblock %}

{% block body %}
    <main id="error">
        <section class="section">
            <div class="box has-text-centered">
                <h1>
                    Sorry, something went wrong with your upload.
                </h1>
                <a href="/">
                    Home
                </a>
            </div>
        </section>
    </main>
{% endblock %}
