
#download {

  .box {
    max-width: 600px;
    margin: auto;
  }

  .field.no-secret {
    height: 20px;
  }

  .button-field {
    display: flex;
    justify-content: center;
  }

  #download_error_container {
    transition: max-height .5s;
    max-height: 0;
    margin: auto;
    overflow: hidden;
    &.open {
      max-height: 200px;
    }
  }
}
