
#index {
  width: 100%;

  section {

    &.top {
      padding: 20px 0;
    }

    .title-and-description {
      max-width: 1100px;
      margin: auto;

      .child {
        max-width: 600px;
        min-width: 300px;
        margin: auto;
      }
    }

    .box {
      max-width: 600px;
      margin: auto;

      label {
        display: block;
      }

      input, button {
        margin: 5px;
      }

      .button-row {
        display: flex;
        height: auto;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
  }

  li {
    margin: 10px;
  }

  #form_status {
    //text-align: center;
  }
}
